@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    height: 100%;
    width: 100%;
    background-color: #222222;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

footer {
   bottom: 0;
   width: 100%;
   height: 30px;
   background: #262626;
   color: #FFA500;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
   border-top: 1px solid #FFA500;
}

#ava {
    border: 1px solid #FFA500;
}

.hr {
    border-top: 1px solid #FFA500;
    width: 30%;
}

.grey {
    color: #888888;
}

.fortyfor {
    margin: auto;
    text-align: center;
    overflow: hidden;
    color: #FFA500;
}

.fortyfor h1 {
    color: #b3b3b3;
    font-size: 10em;
}

.fortyfor a {
    color: #b3b3b3;
}

#nav {
    border-bottom: 1px solid #FFA500;
    background: #262626;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    color: #b3b3b3;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 3%;
    padding: 9px;
}

.item:hover {
    background-color: rgba(255, 165, 0, .5);
    color: white;
}

#wall-of-text {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 2%;
    padding-bottom: 5%;
    text-align: justify;
    width: 40%;
    margin: 0 auto;
    color: #FFFDDD;
}

#wall-of-text h1 {
    color: #FFA500;
}

#wall-of-text h3 {
    font-size: 21px;
    color: #FFA500;
}

#wall-of-text a {
    color: #FFA500;
    text-decoration: none;
}

#wall-of-text a:hover {
    color: #ba7600;
}

#wall-of-text code {
	font-family: 'Open Sans', sans-serif;
	color: #b6b6b6;
}

#wall-of-text strong {
	color: #FFFFDD;
}

#wall-of-text .card {
    background: rgba(30, 30, 30, .9);
    border: 1px solid #FFA500;
    margin-bottom: 20px;
    padding: 40px;
}

#ava {
    width: 600px;
}

.admonition-title {
	border: 1px solid #b02323;
	padding: 10px;
	text-align: center;
}

.admonition-title:before {
	content: "!!! ";
	padding: 10px;
	color: #b02323;
}

.admonition-title:after {
	content: " !!!";
	padding: 10px;
	color: #b02323;
}

@media screen and (max-device-width: 1920px)
{
    #wall-of-text {
		width: 75%;
	}
}

/* Mobile fix */
@media screen and (max-device-width: 720px)
{
	#wall-of-text { 
		width: 100%;
        padding: 0;
		font-size: 15px;
	}

	#wall-of-text .card {
        border-left: none;
        border-right: none;
        padding: 10px;
    }

	#wall-of-text pre {
		white-space: pre-line;
	}

	#star {
        margin-top: 20px;
    }

    #ava {
        width: 400px;
    }
	
	#nav {
        width: 99.7%; /*HACK*/
		height: auto;
	}

	.item {
		width: auto;
		text-align: center;
		margin-right: auto;
		left: auto;
	}
}
   
