<head>
    <meta charset="utf-8">
    <link rel="icon" href="images/icon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    
    
    <title>Volk_Milit (aka Ja&#39;Virr-Dar) | 404 Page not found</title>
</head>
<div class="fortyfor">
<h1>404</h1>
<h3>You can cleave something apart, or you can cleave something together.</h3>
<a href="index.html">На главную</a>
</div>
